@import url('https://fonts.googleapis.com/css2?family=+Sans:wght@500&family=Oswald:wght@500&display=swap');


.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 30px;
    width:100%;

}

.todo-task
{
    height:10%;
    padding: 0px;
    height:200px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Oswald;
}


.completed
{
    text-decoration: line-through;
    font-family:Oswald ;
}
.todo-icons
{
    height:200px;
    
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}